<extend name="Public:index"/>
<block name="css">
	<link href="__CSS__/ucenter.css" rel="stylesheet" type="text/css">
</block>

<block name="content">
	<!-- center -->
	<div class="container center">
		<div class="panel">

			<!-- banner START -->
			<div class="banner">
				<img class="logo" src="__IMG__/ucenter/ulogo.png" />
				<p><span class="uname">{$Think.session.login_info.real_name}</span><span class="greetings">您好~~</span><br />
					上次于{:date('Y-m-d H:s',$_SESSION['login_info']['last_login_time'])} 在成都登录成功</p>
			</div>
			<!-- banner END -->
			<!-- "新品上市" START -->
			<div class="tabs_nav">
				<p class="title">个人中心</p>
				<ul>
					<li class="order_list">订单列表</li>
					<li class="delivery_addresses"><a href="{:U('User/addAdress')}">收货地址管理</a></li>
				</ul>
			</div>
			<div class="tabs">
				<ul>
					<li class="order_list">
						<p class="title2">订单列表</p>
					<foreach name="orders" item="order" key="k">
						<table class="all">
							<tr>
								<th>商品信息</th>
								<th>实付款</th>
								<th>订单状态</th>
							</tr>
							<tr>
								<td>
									<p><span class="date">{:date('Y-m-d H:i:s',$order['create_time'])}</span>&emsp;<span class="sequence">订单号：{$order.id}</span></p>
									<img src="{$order.goods_list.0.logo}">
									<ul>
										{$order.goods_list.$k.goods_name}
									</ul>
								</td>
								<td>￥：{$order['total_price']}</td>
								<td>
									<switch name="order.status">
										<case value="0" break="1">已取消</case>
										<case value="1" break="1"><a href="{:U('Order/pay',['id'=>$order['id']])}" style="color: white;background-color: green;padding: 5px 10px">待付款</a></case>
										<case value="2" break="1">待发货</case>
										<case value="3" break="1"><a href="#">确认收货</a></case>
										<case value="4" break="1">交易完成</case>

									</switch>
								</td>
							</tr>
						</table>
					</foreach>
					</li>
				</ul>
			</div>
		</div>
	</div>
</block>
<block name="js">
	<script type="text/javascript" src="__JS__/jquery.auto-complete.min.js"></script>
	<script type="text/javascript" src="__JS__/jquery.cxselect.min.js"></script>
	<script type="text/javascript" src="__JS__/jquery.editable.min.js"></script>
	<script type="text/javascript">

		$(".center .tabs li [type='text'], .center .tabs .user_info select").addClass("borderRadius_scheme_small");
		$(".center .tabs li button").addClass("button_color_scheme_dark borderRadius_scheme_middle");

		$(function(){

			/* Tabs navigator module START */

			// First level tabs

			var $tabs_nav = $(".center .tabs_nav >ul");
			var $tabs_nav_trigger = $tabs_nav.children("li");
			var $tabs = $(".center .tabs >ul");
			var $tabs_item = $tabs.children("li");

			var current_tab_class;
			$tabs_nav_trigger.on("click", function(){
				current_tab_class = $(this).attr('class');

				$tabs_nav_trigger.css({'color': '#000000'});
				$tabs_nav.children("." + current_tab_class).css({'color': '#a0603d'});

				$tabs_item.css({'display':'none'});
				$tabs.children("." + current_tab_class).css({'display':'initial'});
				$tabs.height($tabs.children("." + current_tab_class).height());
			}).hover(function(){
				$(this).css({"cursor":"pointer"});
			}).eq(0).trigger("click");

			// Order list tabs

			var $order_list = $(".center .tabs .order_list");
			var $order_list_nav = $order_list.children(".caption_nav");
			var $order_list_nav_trigger = $order_list_nav.children("li");
			var $order_list_item = $order_list.children("table");

			$order_list_nav_trigger.on("click", function(){

				$order_list_nav_trigger.css({'color': '#000000'});
				$order_list_nav.children("." + $(this).attr('class')).css({'color': '#a0603d'});

				$order_list_item.css({'display':'none'});
				$order_list.children("." + $(this).attr('class')).css({'display':'inline-table'});
				$tabs_nav.children("." + current_tab_class).trigger("click");
			}).hover(function(){
				$(this).css({"cursor":"pointer"});
			}).eq(0).trigger("click");

			/* Tabs navigator module END */

			/* Wait4pay module START */
			$order_list.children(".wait4pay").find(".delete").click(function(){
				$(this).parent().parent().remove();
				// Update UI.
				$order_list_nav.children(".wait4pay").trigger("click");
			}).hover(function(){
				$(this).css({"cursor":"pointer"});
			});
			/* Wait4pay module END */

			/* Address module START */

			var editable_params = {
				lineBreaks : true,
				toggleFontSize : false,
				closeOnEnter : true
			}

			var $address_list = $(".center .addresses");

			// Click to set as default.
			$address_list.find(".default").live({
				click: function(){
					$(this).find("[name='is_default']").attr({"checked":"checked"});
				},
				hover: function(){
					$(this).css({"cursor":"pointer"});
				}
			});

			var $add_address = $address_list.find(".add_address");

			// Add blank address and hide add trigger.
			$add_address.click(function(){
				// Create object.
				$newAddress = $('<li>'+
						'<p class="uname">源码时代</p>'+
						'<p class="pre_address"><select class="province" data-value="四川省"></select><select class="city" data-value="成都市"></select><select class="area" data-value="高新区"></select></p>'+
						'<p class="address" title="双击编辑" old="">地址</p>'+
						'<p class="uphone" title="双击编辑">电话</p>'+
						'<p><button class="save  button_color_scheme_dark">保存该地址</button> <button class="cancel  button_color_scheme_dark">取消</button></p>'+
						'</li>');

				// Select pre-address.
				$newAddress.find('.pre_address').cxSelect({
					url: 'json/cityData.min.json',
					selects: ['province', 'city', 'area'],
					emptyStyle: 'none'
				});

				// Enable directly editing.
				$newAddress.find('.address').editable(editable_params);
				$newAddress.find('.uphone').editable(editable_params);

				// Add to list.
				$newAddress.insertBefore($(this));

				// Hide trigger.
				$(this).css({"display":"none"});
			}).hover(function(){
				$(this).css({"cursor":"pointer"});
			});


			// Save new address.
			$address_list.find(".save").live("click", function(){
				$(this).parent().parent().append(
						'<button class="delete button_color_scheme_dark borderRadius_scheme_middle">删除</button><p class="default"><input type="radio" name="is_default" >作为默认地址</p>'
				);
				// Show add trigger.
				$add_address.css({"display":"initial"});
				// Update UI.
				$tabs_nav.children(".delivery_addresses").trigger("click");
				// Clear.
				$(this).parent().remove();
			});

			// Cancel using new address.
			$address_list.find(".cancel").live("click", function(){
				$(this).parent().parent().remove();
				$add_address.css({"display":"initial"});
			});

			// Delete address.
			$address_list.find(".delete").live("click", function(){
				$(this).parent().remove();
			});

			// Select pre-address.
			$pre_address = $address_list.find(".pre_address");
			$pre_address.cxSelect({
				url: 'json/cityData.min.json',
				selects: ['province', 'city', 'area'],
				emptyStyle: 'none'
			});

			// Directly edit address.
			var $address = $address_list.find(".address");
			var $uphone = $address_list.find(".uphone");
			var currentEditingAddress;
			$address.editable(editable_params);
			$uphone.editable(editable_params);

			// Listen on when elements getting edited

			var editing_func = function() {
				currentEditingAddress = $(this);
				currentEditingAddress.attr({"old":$(this).find("textarea").val()});
				currentEditingAddress.find('textarea').css({"background-color":"white"});
			}

			$address.live('edit', editing_func);
			$uphone.live('edit', editing_func);

			$address.live('edit', function() {
				currentEditingAddress.find('textarea').attr({"maxlength":"44"});
			});
			$uphone.live('edit', function() {
				currentEditingAddress.find('textarea').attr({"maxlength":"11"});
			});

			// Listen on when elements cancel edited
			$(document).keydown(function(event){
				if(event.keyCode == 27){
					currentEditingAddress.editable('close');
					currentEditingAddress.text(currentEditingAddress.attr("old"));
				}
			});

			/* Adress module END */

		});
	</script>
</block>