<extend name="Public:base"/>
<block name="content">
        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                {$title}
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="{:U('Index/index')}">管理后台</a>
                </li>
                <li class="active"> {$title}</li>
            </ul>
        </div>
        <!-- page heading end-->

        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                           角色列表
                            <span class="tools pull-right">
                                <a href="{:U('add')}" class="btn btn-success btn-link">新增</a>
                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table ">
                                <table  class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>角色名称</th>
                                        <th>简述</th>
                                        <th class="hidden-phone">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <volist name="rows" id="row">
                                            <tr class="gradeX">
                                                <td>{$row.role_name}</td>
                                                <td>{$row.role_intro}</td>
                                                <td class="center hidden-phone">
                                                    <a href="{:U('edit',['id'=>$row['role_id']])}"  class="btn btn-xs btn-success">编辑</a>
                                                |
                                                    <a data-href="" data-toggle="modal" data-target="#myModal" class="btn btn-danger btn-xs deleteBtn" id="">删除</a>
                                                    <input type="hidden" name="role_id" value="{$row['role_id']}"/>
                                                </td>
                                            </tr>
                                        </volist>
                                    </tbody>
                                </table>
                                <div id="demo1">
                                    <div class="scott" id="layui-laypage-0" style="float:right;">
                                        {$pages}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
</block>
<block name="js">
    <script type='text/javascript'>
        $(function(){
            $('.deleteBtn').click(function(){
                var del_id = $(this).next().val();
                var url = "{:U('delete')}?role_id="+del_id;
                layer.confirm('你确定要删除它吗？', {
                    btn: ['必须啊','算了吧'] //按钮
                }, function(){
                    location.href=url;
                }, function(){

                });
            });
        });
    </script>
</block>