<extend name="Public:base" />
</block>
<!-- page heading start-->
<block name="content">
<div class="page-heading">
    <h3>
        管理首页
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">管理后台</a>
        </li>
        <li> 商品分类管理 </li>
        <li class="active"> 编辑商品分类</li>
    </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<section class="wrapper">
    <!-- page start-->

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    编辑商品分类
                </header>
                <div class="panel-body">
                    <form role="form" action="{:U('edit', ['id' => $info['good_category_id']])}" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">分类名称</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" name="good_category_name" value="{$info.good_category_name}" placeholder="请输入名字">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">父级分类</label>
                            <select class="form-control" name="parent_id" id="pid">
                                <volist name="categories" id="c">
                                    <option value="{$c.good_category_id}" >{:str_repeat('&nbsp;&nbsp;',$c['level']-1)}{$c.good_category_name}</option>
                                </volist>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">分类简介</label>
                            <textarea name="good_category_intro" class="form-control">{$info.good_category_intro}</textarea>
                        </div>
                        <input type="hidden" name="good_category_id" value="{$info.good_category_id}"/>
                        <button type="submit" class="btn btn-primary">提交修改</button>
                    </form>

                </div>
            </section>
        </div>
    </div>
</section>
</block>
<block name="js">
    <script type='text/javascript'>
        $(function(){
            $('#pid').val({$info.parent_id});
        });
    </script>
</block>
