<extend name="Public:base" />
<!-- page heading start-->
<block name="content">
<div class="page-heading">
    <h3>
        {$title}
    </h3>
    <ul class="breadcrumb">
        <li>
            <a href="#">管理后台</a>
        </li>
        <li> 权限管理 </li>
        <li class="active"> {$title} </li>
    </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<section class="wrapper">
    <!-- page start-->

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    编辑权限
                </header>
                <div class="panel-body">
                    <form role="form" action="{:U()}" method="post">
                        <input type="hidden" name="id" value="{$row.id}"/>
                        <div class="form-group">
                            <label for="exampleInputEmail1">权限名称</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" name="permission_name" placeholder="请输入权限名" value="{$row.permission_name}">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputSort">权限路径</label>
                            <input class=" form-control" id="exampleInputSort" name="path" type="text"  placeholder="请输入权限路径"  value='{$row.path}'/>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputIntro">权限简介</label>
                            <textarea class="form-control " id="exampleInputIntro" name="permission_intro" placeholder="请输入权限简介">{$row.permission_intro}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">父类权限</label>
                            <select class="form-control" name="parent_id" id="pid">
                                <volist name="lists" id="list">
                                    <option value="{$list.id}">{:str_repeat('&nbsp;&nbsp;',$list['level']-1)}{$list.permission_name}</option>
                                </volist>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">提交修改</button>
                    </form>

                </div>
            </section>
        </div>
    </div>
</section>
</block>
<block name="js">
    <script type='text/javascript'>
        $(function () {
            //默认选中显示
            $('#pid').val({$row.parent_id});
        });
    </script>
</block>