.header .top_menu .is_login,
.header .top_menu .at_login{
	visibility: hidden;
}
.center .title{
	padding: 40px 0px;
}
.center dl{
	text-align: left;
	text-indent: 2em;
}
.center dt{
	line-height: 70px;
	text-indent: .4em;
	background: url(../img/tcommon/dt_frame.png) no-repeat left center;
}
.center dd{
	line-height: 30px;
}
.center ol li{
	list-style-position: inside;
	text-indent: 2em;
}
.center .next{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: left;
}
.center .next a{
	color: #cab2b2;
}
.center .next a:hover {
	color: #a0603d;
}