<extend name="Public:index"/>
<block name="css">
	<link href="__CSS__/tcommon.css" rel="stylesheet" type="text/css">
</block>
<block name="content">
	<div class="container center">
		<div class="panel">

			<p class="uposition">你的当前位置：<a href="{:U('Index/index')}">首页</a><span class="spliter">></span><a href="{:U('Index/index')}">get小技能</a><span class="spliter">></span><a href="">正文</a></p>
			<!-- "正文" START -->
			<div>
				<p class="title">{$article.article_name}</p>
				<dl>
					<dd style="text-align: center">
						<p>{$article.article_intro}</p>
					</dd>
					<dt>详情内容</dt>
					<dd>
						<p>{$article.content}</p>
					</dd>

				</dl>
			</div>
			<!-- "正文" END -->
			<p class="next"><a>下一篇：<span class="next_title">茶的故乡是中国？</span></a></p>
		</div>
	</div>
</block>
