<extend name="Public:index"/>
<block name="css">
	<link href="__CSS__/product_list.css" rel="stylesheet" type="text/css">
</block>
<block name="content">
	<div class="container center">
		<div class="panel">

			<p class="uposition">你的当前位置：<a href="{:U('category',['all'=>1])}">全部结果</a>
				<if condition="$all_goods eq true">

					<else/>
				<span class="spliter">></span><a href="{:U('category',['id'=>$category['good_category_id']])}">{$category.good_category_name}</a>
				</if>
			</p>
			<table class="filter">
				<tr>
					<td>品牌：</td>
					<td>
						<ul class="brand">
							<foreach name="brands" item="brand">
								<li><a href="{:U('Goods/category',['brand_id'=>$brand['good_brand_id'],'id'=>$category['good_category_id']])}">{$brand.name}</a></li>
							</foreach>
						</ul>
					</td>
				</tr>
				<tr>
					<td>价格段：</td>
					<td>
						<ul class="prices">
							<li><a href="javascript: void(0)">1-59元</a></li>
							<li><a href="javascript: void(0)">60-199元</a></li>
							<li><a href="javascript: void(0)">200-399元</a></li>
							<li><a href="javascript: void(0)">400-599元</a></li>
							<li><a href="javascript: void(0)">600-799元</a></li>
							<li><a href="javascript: void(0)">800元以上</a></li>
						</ul>
					</td>
				</tr>
			</table>
			<p class="counting">
				{$pages}
			</p>
			<p class="sorting">
				<button>综合排序</button><button>销量</button><button>人气</button><button>信用</button><button>价格</button>
			</p>
			<p class="distribution">
				配送至
				<select>
					<option>四川省高新区</option>
				</select>
				<input type="checkbox">京东配送</input>
				<input type="checkbox">货到付款</input>
				<input type="checkbox">仅显示有货</input>
			</p>
			<div class="products">
				<div class="flex-list-box">
					<dl class="products-list">
						<if condition="$all_goods eq true">
							<foreach name="all_goods" item="all_good">
								<a href="{:U('Goods/goodInfo',['id'=>$all_good['id']])}">
									<dd>
										<p><img src="{$all_good.goods_logo}"></p>
										<p class="paid">127付款</p>
										<p class="price">¥：{$all_good.shop_price}</p>
										<p>{$all_good.goods_name}</p>
									</dd>
								</a>
							</foreach>
						<else/>
							<foreach name="goods" item="good">
								<a href="{:U('Goods/goodInfo',['id'=>$good['id']])}">
									<dd>
										<p><img src="{$good.goods_logo}"></p>
										<p class="paid">127付款</p>
										<p class="price">¥：{$good.shop_price}</p>
										<p>{$good.goods_name}</p>
									</dd>
								</a>
							</foreach>
						</if>
					</dl>
				</div>
			</div>
			<div class="buttons_at_bottom">
				{$pages}
			</div>
		</div>
	</div>
</block>
<block name="js">
	<script type="text/javascript" src="__JS__/jquery.auto-complete.min.js"></script>
	<script type="text/javascript">
		$(".center .sorting button").addClass("button_color_scheme_mixed");
		$(".center .counting button").addClass("button_color_scheme_light");
	</script>
</block>



